* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montagu Slab', serif;
    scroll-behavior: smooth;
    background-color: #1E1E1E;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.input {
    border: none;
    background-color: rgba(196, 196, 196, 0.2);
    background-repeat: no-repeat;
    background-position: center right 20px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    padding: 20px;
}

