* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: #1E1E1E;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

input {
    border: none;
}
